body {
    background: #eee;
    margin: 0;
    padding: 0;
}

.container {
    background: #ccc;
    width: 400px;
    height: 320px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
}

legend {
    text-transform: uppercase;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    padding: 20px;
}

input[type="text"] {
    margin: 3px;
    line-height: 25px;
    width: 65%;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 10px;
}

label {
    margin-right: 20px;
}

#prin {
    margin-left: -20px;
}

input[type="submit"] {
    padding: 10px;
    margin-left: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.4);
    background: green;
    color: #fff;
}

input[type="submit"]:hover {
    border: #000;
    background: none;
    color: #000;
}

#clear {
    float: right;
}

a {
    text-decoration: none;
    color: blue;
}